@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
   
   
body{

    font-family: 'Dancing Script', cursive; 
    font-family: 'Poppins', sans-serif;
    
}

nav{
    width: 100%;
    height: 75px;
    position:fixed;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw ;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    z-index: 1000;

}
nav a img{
    margin-top: 10px;
    height: 45px;
    cursor: pointer;
}

#menu-btn{
    display: none;
}

nav .nav_items ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .nav_items ul li{
    list-style: none;
    margin-left: 100px;
}
nav .nav_items ul li a{
    text-decoration: none;
    color: #000;
    font-weight:500;
    font-size: 15px;
    transition: 0.3s ease;
}
nav .nav_items ul li a:hover{
    color: #1e88be;
}
.nav_items{
    position: relative;
}
nav .nav_items .dropdown{
    position: absolute;
    top: 100%;
    left:30.9%;
    width: 300px;
    height: 300px;
    background-color: black;
    opacity: 0;
}


/* Head section start here  */

.flex{
    display: flex;
    justify-content: center;
}


.careerhd{
    width: 100%;
    height: 260px;
    /* background-color: aqua; */
    padding-top: 100px;
}
.career{
    width: 84%;
    height: 100%;
    /* background-color: #1e88be; */
    font-size:39px;
    font-weight: 500;
    text-align: center;
}
.careerhd1{
    width: 100%;
    height: 140px;
    padding-top: 10px;
    /* background-color: red; */
}

.career1{
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 0px;
}

.CV{
    position: absolute;
    left: 43.5%;
    top: 52%;
    /* background-color: red; */
}

.CV .btn1{
    width: 200px;
    height: 35px;
    border-radius: 20px;
}
.CV .btn1 a{
    color: black;
    text-decoration: none;
}

.btn1:hover{
    background-color: #000;
}
.btn1:hover a{
    color: #fff;
}
/* join US section */

.headjoin{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: #5b0b50;
}

.join{
    width: 100%;
    height: 500px;
    /* background-color: aqua; */
    margin-top: 35px;
}

.joinus{
    width: 84%;
    height: 100%;
    /* background-color: #1e88be; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}

.life{
    margin-top: 25px;
    height: 180px;
    /* background-color: red; */
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
}
.life h2, p{
    padding-top: 20px;
    padding-left: 10px;
}



/* footer start here */


#footer{
    position: relative;
    top: 100px;
    width: 100%;
    height: 400px;
    padding:5vw 8vw 0 8vw ;
    background-color: #222222;
    color: #fff;
    display: flex;
    gap: 180px;
    margin-top: 0px;
}
#footer h2{
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: 100;
    font-size: 20px;
}
#footer ul{
    list-style: none;

}
#footer ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    
}
#footer ul li a:hover{
    
    color: #168fcd;
    
}
#footer .footer-followus .icons{
    display: flex;
    gap: 10px;
}
#footer img{
    height: 25px;
}


#copyright{
    position: relative;
    top: 100px;
    width: 100%;
    height: 70px;
    background-color: #222;
    padding: 0 8vw 0 8vw;
    display: flex;
    gap: 200px;
    align-items: center;
   
}
#copyright h4{
    color: #fff;
    font-size: 10px;
    font-weight: normal;

}